/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&family=Signika:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
*{
    margin:0;
    padding:0;
}

.container{
    display: flex;
}

.sidebar{
    /* position: absolute; */
    background-color: lightgray;
    width: 220px; 
    transition: transform 0.3s ease-in;
   
}



.sidebar nav{
    padding: 45px 25px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif; 
    font-weight: bold;
}
.sidebar nav li{
    list-style: none;
    padding: 33px;
    font-size: 30px 0;
} 
.sidebar nav li a{
    text-decoration: none;
}
.main{
    /* background-color: cyan; */
    width: 90vw;
}
.infocontainer{
    /* background-color:bisque; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 58px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif; 
}
.about{
    font-size: 40px;
}
.moreabout{
    font-family: 'Fira Sans', sans-serif; 
}

.buttons button {
    margin: 0 3px;
    padding: 9px 14px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-top: 12px;
    font-size: 15px;
    font-family: ui-sans-serif;
    cursor: pointer;

}
.buttons button:hover{
    color: blue;
    background-color: white;
}
.devPic img{
    height: 58vh;

}

/* css for contact me page  */

.contactform{
    font-family: 'Fira Sans', sans-serif; 
    padding-left: 34px;   
    padding-top: 144px;;
}

.contactform h1{
    padding: 40px 0;
    font-family: 'Source Code Pro', monospace;
}
.mb-3{
    padding: 27px, 0px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    
}

#emailHelp{
    font-size: 8px;
    color: midnightblue;
    padding: 10px 0px;
}

#star{
    color: red;
    display: flex;
    
}

.form-control{
    width: 20vw;
    border-radius: 5px;
}

.mb-3form-check{
    margin: 10px 0px;
    padding: 17px 0px;
}

#username{
    padding: 15px 0px;
}
#userphone{
    padding: 15px 0px;
}
#userenquiry{
    padding: 0px 0px;
}
#useremail{
    padding: 15px 0px;
}

.btn{
    margin: 0 3px;
    padding: 9px 14px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-top: 12px;
    font-size: 15px;
    font-family: ui-sans-serif;
    cursor: pointer;

}
.btn:hover{
    color: blue;
    background-color: white;
}


/* ------------- bolg.html css---------  */

.blogItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif; 
}

.blogContainer h1{
    margin: 0px 20px;
    font-family: 'Fira Sans', sans-serif; 
    
}

.blogItem h2{
    color: darkgreen;
}
.blogItem p{
    font-family: 'Source Code Pro', monospace;
}

/* ------------ my intro css ----------   */


.main{
    margin: 20px;
    
}

.skillsnameheading{
    font-family: 'Fira Sans', sans-serif; 
    padding: 20px 0;
}

.aboutme p{
    font-family: 'Source Code Pro', monospace;
}

progress{
    width: 50vw;
}

.skills-item{
    padding: 10px 0;
}

.main{
    padding: 23px;
}

.infocontainer{
    flex-wrap: wrap;
}

@media (max-width: 1313px){
    /* *{
        background-color: lightcoral; 
    } */
    .sidebarGo{
        transform: translate(-225px, 0px);
        position: absolute;   
    }

}



.hamburger{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.cross{
    margin-left: 120px; 
}